{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy" : true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-modules-commonjs"],
    ["dynamic-import-node"]

  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
   ]
  ]
}
