{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3"
      }
   ]
  ]
}
