[submodule "cardano-http-bridge"]
	path = cardano-http-bridge
	url = git@github.com:Emurgo/cardano-http-bridge.git
[submodule "js-chain-libs"]
	path = js-chain-libs
	url = https://github.com/Emurgo/js-chain-libs.git
